body{
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 80%);
}
.banner-image{
    background: rgb(0, 0, 0, 0.7) url(banner.jpg);
   background-size: cover ;
   background-blend-mode: darken;
   scroll-behavior: smooth;
   
}

.navbar-brand{
    color: rgba(10, 226, 255) !important;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.content h1{
    font-size: 50px;
    font-weight: 300;
    font-family: 'Lobster', cursive;
}

/* hovering effect on div card */
.card{
    width: 650px;
    transition: 1s;
    scroll-behavior: smooth;
    font-family: 'Smooch Sans', sans-serif;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 2px;

}


/* social media connection section */
.container{
    justify-content: center;
}
.wrapper{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 600px;
    background-color: powderblue;
    scroll-behavior: smooth;
    font-family: 'Lobster', cursive;

}

.end-text{
    text-align: left;
    
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover{
    width: 200px;
}


.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(3):hover .icon{
    background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #333;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;

}

.wrapper .button:hover .icon i{
    transition: all 0.3s ease-out;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.wrapper .button:nth-child(1):hover span{
    color: #e1306c;
}
.wrapper .button:nth-child(2):hover span{
    color: #333;
}